# Limpieza de los datos
## Set de datos Clientes

Limpieza de los datos del set de clientes

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('pagadores/dt_info_pagadores_muestra.csv', na_values=['\\N','-975','No disponible'], names=['id_cliente', 'seg_str', 'ocupacion', 'tipo_vivienda', 'nivel_academico', 'estado_civil', 'genero', 'edad', 'ingreso_rango'])

In [2]:
#df.head
print('Filas: {}\nColumnas: {}'.format(df.shape[0], df.shape[1]))
df.isnull().sum()

Filas: 338606
Columnas: 9

id_cliente              0
seg_str                 0
ocupacion            6833
tipo_vivienda      172210
nivel_academico     44293
estado_civil         6600
genero               5709
edad                 6291
ingreso_rango        6271
dtype: int64

In [3]:
labels = [ 'seg_str', 'ocupacion', 'tipo_vivienda', 'nivel_academico', 'estado_civil', 'genero', 'edad', 'ingreso_rango']
#'id_cliente',
def print_uniques():
    for label in labels:
        unique_list = df[label].unique()
        print('## {0}'.format(label))
        for unique in unique_list:
            print('{0} - {1}'.format(unique, df.loc[df[label] == unique,].shape[0]))

print_uniques()

## seg_str
PERSONAL PLUS - 45392
EMPRENDEDOR - 40718
PERSONAL - 233568
PREFERENCIAL - 18501
OTRO - 427
## ocupacion
5 - 9984
E - 9042
3 - 31971
7 - 324
1 - 210488
9 - 2296
4 - 5915
P - 17770
2 - 31166
8 - 6154
nan - 0
O - 3955
S - 1364
I - 1081
6 - 259
0 - 4
## tipo_vivienda
O - 44712
F - 83736
nan - 0
R - 25775
I - 12163
2 - 6
3 - 1
1 - 2
4 - 1
## nivel_academico
U - 135754
T - 45266
I - 49357
S - 19614
nan - 0
H - 24421
P - 2863
E - 8754
B - 4820
N - 3464
## estado_civil
M - 79954
W - 3357
I - 26682
F - 31984
S - 175878
nan - 0
D - 12057
O - 2094
## genero
M - 163561
F - 169336
nan - 0
## edad
92.0 - 22
80.0 - 181
90.0 - 46
86.0 - 87
79.0 - 209
74.0 - 390
37.0 - 10511
34.0 - 11546
56.0 - 3051
60.0 - 2212
47.0 - 4510
46.0 - 4782
57.0 - 2688
72.0 - 515
52.0 - 3653
38.0 - 9938
43.0 - 5863
40.0 - 7898
36.0 - 11105
42.0 - 6700
39.0 - 9155
29.0 - 14001
33.0 - 12307
41.0 - 7307
63.0 - 1771
45.0 - 4894
32.0 - 12632
54.0 - 3239
48.0 - 4252
22.0 - 7224
27.0 - 13829
35.0 - 11088
49.0 - 4122
30.0 - 13142
78.0 - 221
55.0 - 3227
28.0 - 13924
50.0 - 3907
31.0 - 12778
51.0 - 3786
23.0 - 9187
85.0 - 85
87.0 - 64
93.0 - 15
94.0 - 7
61.0 - 1983
88.0 - 67
26.0 - 13136
53.0 - 3542
25.0 - 12349
21.0 - 5215
20.0 - 3474
24.0 - 11119
83.0 - 108
58.0 - 2489
71.0 - 634
82.0 - 144
66.0 - 1266
81.0 - 160
62.0 - 1858
59.0 - 2392
64.0 - 1555
44.0 - 5409
76.0 - 290
65.0 - 1490
75.0 - 305
70.0 - 741
89.0 - 53
73.0 - 467
68.0 - 1003
69.0 - 799
nan - 0
67.0 - 1131
118.0 - 1552
77.0 - 257
84.0 - 100
108.0 - 57
98.0 - 210
18.0 - 886
15.0 - 114
17.0 - 385
19.0 - 1926
16.0 - 169
5.0 - 100
14.0 - 117
9.0 - 105
7.0 - 97
2.0 - 79
8.0 - 95
1.0 - 43
12.0 - 96
10.0 - 97
11.0 - 118
6.0 - 127
4.0 - 89
13.0 - 82
3.0 - 85
91.0 - 34
99.0 - 3
115.0 - 4
103.0 - 3
95.0 - 12
96.0 - 6
0.0 - 10
117.0 - 2
97.0 - 3
100.0 - 1
101.0 - 1
## ingreso_rango
e. (4.4  5.5MM] - 20189
i. (8.7  Inf) - 39249
b. (1.1  2.2MM] - 105099
c. (2.2  3.3MM] - 54872
f. (5.5  6.6MM] - 14145
h. (7.6  8.7MM] - 7808
g. (6.6  7.6MM] - 10628
d. (3.3  4.4MM] - 34922
a. (0  1.1MM] - 44310
nan - 0
0 - 1113

In [4]:
df.loc[df['edad'] > 80,].shape

(2846, 9)

In [5]:
df['seg_str'] = df['seg_str'].map({'PERSONAL':0, 'PERSONAL PLUS':1, 'EMPRENDEDOR':2, 'PREFERENCIAL':3, 'OTRO':4}, na_action='ignore')
df['ocupacion'] = df['ocupacion'].map({'E':0, 'I':1, 'O':2, 'P':3, 'S':4, '1':5, '2':6, '3':3, '4':7, '5':8, '6':9, '7':10, '8':11, '9':12, '0':np.nan}, na_action='ignore')
df['tipo_vivienda'] = df['tipo_vivienda'].map({'A':0 , 'R':0, 'F':1, 'I':np.nan, 'P':2, 'O':2,'1':np.nan,'2':np.nan,'3':np.nan,'4':np.nan}, na_action='ignore')
df['nivel_academico'] = df['nivel_academico'].map({'H':2, 'B':2, 'U':4, 'E':5, 'N':0, 'P':1, 'S':6, 'T':3, 'I':np.nan}, na_action='ignore')
df['estado_civil'] = df['estado_civil'].map({'S':0, 'M':1, 'F':np.nan, 'I':np.nan, 'D':2, 'W':3, 'O':np.nan}, na_action='ignore')
df['genero'] = df['genero'].map({'F':0, 'M':1}, na_action='ignore')
df['edad'] = df['edad'].apply(lambda x: np.nan if x < 5 or x > 100 else x)
df['ingreso_rango'] = df['ingreso_rango'].map({'a. (0  1.1MM]':0, 'b. (1.1  2.2MM]':1, 'c. (2.2  3.3MM]':2, 'd. (3.3  4.4MM]':3, 'e. (4.4  5.5MM]':4, 'f. (5.5  6.6MM]':5, 'g. (6.6  7.6MM]':6, 'h. (7.6  8.7MM]':7, 'i. (8.7  Inf)':8, 0:np.nan}, na_action='ignore')

In [6]:
print_uniques()

## seg_str
1 - 45392
2 - 40718
0 - 233568
3 - 18501
4 - 427
## ocupacion
8.0 - 9984
0.0 - 9042
3.0 - 49741
10.0 - 324
5.0 - 210488
12.0 - 2296
7.0 - 5915
6.0 - 31166
11.0 - 6154
nan - 0
2.0 - 3955
4.0 - 1364
1.0 - 1081
9.0 - 259
## tipo_vivienda
2.0 - 44712
1.0 - 83736
nan - 0
0.0 - 25775
## nivel_academico
4.0 - 135754
3.0 - 45266
nan - 0
6.0 - 19614
2.0 - 29241
1.0 - 2863
5.0 - 8754
0.0 - 3464
## estado_civil
1.0 - 79954
3.0 - 3357
nan - 0
0.0 - 175878
2.0 - 12057
## genero
1.0 - 163561
0.0 - 169336
nan - 0
## edad
92.0 - 22
80.0 - 181
90.0 - 46
86.0 - 87
79.0 - 209
74.0 - 390
37.0 - 10511
34.0 - 11546
56.0 - 3051
60.0 - 2212
47.0 - 4510
46.0 - 4782
57.0 - 2688
72.0 - 515
52.0 - 3653
38.0 - 9938
43.0 - 5863
40.0 - 7898
36.0 - 11105
42.0 - 6700
39.0 - 9155
29.0 - 14001
33.0 - 12307
41.0 - 7307
63.0 - 1771
45.0 - 4894
32.0 - 12632
54.0 - 3239
48.0 - 4252
22.0 - 7224
27.0 - 13829
35.0 - 11088
49.0 - 4122
30.0 - 13142
78.0 - 221
55.0 - 3227
28.0 - 13924
50.0 - 3907
31.0 - 12778
51.0 - 3786
23.0 - 9187
85.0 - 85
87.0 - 64
93.0 - 15
94.0 - 7
61.0 - 1983
88.0 - 67
26.0 - 13136
53.0 - 3542
25.0 - 12349
21.0 - 5215
20.0 - 3474
24.0 - 11119
83.0 - 108
58.0 - 2489
71.0 - 634
82.0 - 144
66.0 - 1266
81.0 - 160
62.0 - 1858
59.0 - 2392
64.0 - 1555
44.0 - 5409
76.0 - 290
65.0 - 1490
75.0 - 305
70.0 - 741
89.0 - 53
73.0 - 467
68.0 - 1003
69.0 - 799
nan - 0
67.0 - 1131
77.0 - 257
84.0 - 100
98.0 - 210
18.0 - 886
15.0 - 114
17.0 - 385
19.0 - 1926
16.0 - 169
5.0 - 100
14.0 - 117
9.0 - 105
7.0 - 97
8.0 - 95
12.0 - 96
10.0 - 97
11.0 - 118
6.0 - 127
13.0 - 82
91.0 - 34
99.0 - 3
95.0 - 12
96.0 - 6
97.0 - 3
100.0 - 1
## ingreso_rango
4.0 - 20189
8.0 - 39249
1.0 - 105099
2.0 - 54872
5.0 - 14145
7.0 - 7808
6.0 - 10628
3.0 - 34922
0.0 - 44310
nan - 0

In [7]:
df.isnull().sum()

id_cliente              0
seg_str                 0
ocupacion            6837
tipo_vivienda      184383
nivel_academico     93650
estado_civil        67360
genero               5709
edad                 8216
ingreso_rango        7384
dtype: int64

In [8]:
df.to_csv('personas.csv',header=False)

In [9]:
df = df.infer_objects()
df.dtypes

id_cliente           int64
seg_str              int64
ocupacion          float64
tipo_vivienda      float64
nivel_academico    float64
estado_civil       float64
genero             float64
edad               float64
ingreso_rango      float64
dtype: object